<section class="jumbotron">
  <div class="search-container">
    <div class="content">
      <h1>Find your dream company!</h1>
      <div>
        <form [formGroup] = "form">
        <div class="search-input">
          <input formControlName="name" placeholder="Search..." type="text">
          <button class="search">Search</button>
        </div>
        <div class="filters">
          <!-- Industries -->
          <ng-select
            class="search-filter"
            [items]="industries"
            (change) = "filter()"
            bindLabel="label"
            bindValue="value"
            [multiple]="true"
            placeholder="Select industries"
            clearAllText="Clear"
            formControlName="industries">
          </ng-select>
          <!-- Industries -->
          <!-- Locations -->
          <ng-select
            class="search-filter"
            [items]="locations"
            (change) = "filter()"
            bindLabel="label"
            bindValue="value"
            [multiple]="true"
            placeholder="Select locations"
            clearAllText="Clear"
            formControlName="locations">
          </ng-select>
        <!-- Locations -->
        <!-- Technologies -->
          <ng-select
            class="search-filter"
            [items]="noOfEmployees"
            (change) = "filter()"
            bindLabel="label"
            bindValue="value"
            [multiple]="true"
            placeholder="No. of Employees..."
            clearAllText="Clear"
            formControlName="noOfEmployees">
          </ng-select>
        </div>
      </form>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="companies-list">
    <app-companies-list *ngIf="!!companies && companies.length > 0" [isExternal]="true" [externalCompanies]="companies"></app-companies-list>
    <p *ngIf="!!companies && companies.length === 0" style="text-align: center;">No results, try again</p>
  </div>
</section>

