<section class="jumbotron">
  <div class="search-container">
    <div class="content">
      <h1>Welcome to JobSearch!</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas earum
        veritatis omnis officia incidunt animi numquam veniam est repellat
        temporibus, ipsam nobis, unde ullam consequuntur, ab natus quidem
        suscipit quo!
      </p>
    </div>
  </div>
</section>
<section class="feature-jobs">
  <h1>Featured Jobs</h1>
  <app-jobs-list [isExternal]="true" [companyJobs]="jobs"></app-jobs-list>
  <div class="see-more">
    <button (click)="onSeeMoreJobs()" class="see-more-btn" *ngIf="jobs && jobs.length > 4" mat-raised-button color="primary">See all jobs</button>
  </div>
</section>
<section class="feature-companies">
  <h1>Featured Companies</h1>
  <app-companies-list [isExternal]="true" [externalCompanies]="companies"></app-companies-list>
  <div class="see-more" style="margin-bottom: 30px;">
    <button (click)="onSeeMoreCompanies()" class="see-more-btn" *ngIf="companies && companies.length > 4" mat-raised-button color="primary">See all companies</button>
  </div>
</section>
