<section class="jumbotron">
  <div class="search-container">
    <div class="content">
      <h1>Welcome to JobSearch!</h1>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quas earum
        veritatis omnis officia incidunt animi numquam veniam est repellat
        temporibus, ipsam nobis, unde ullam consequuntur, ab natus quidem
        suscipit quo!
      </p>
    </div>
  </div>
</section>
<section class="feature-jobs">
  <h1>Featured Jobs</h1>
  <app-jobs-list></app-jobs-list>
</section>
<section class="feature-companies">
  <h1>Featured Companies</h1>
</section>
