@import "../../../../shared/utilities/variables.scss";

:host {
  .jobs-list {
    padding: 16px;
    width: 50%;
    margin: auto;
  }

  .jumbotron {
    @include jumbotron-styles;

    .search-container {
      @include search-container;

      .filters {
        display: flex;
        align-items: center;

        .ng-select.search-filter {
          border: 0px;
          min-height: 0px;
          flex: 1;

          &:not(:last-child) {
            padding-right: 15px;
          }

          &.ng-select-multiple ::ng-deep .ng-select-container .ng-value{
            background-color: $blue-primary;
          }

          ::ng-deep .ng-select-container {
            background-color: white;
            align-items: center;

            &.ng-has-value {
              .ng-value-container .ng-placeholder {
                display: none;
              }
            }

            .ng-value-container {
              padding: 0px 10px;
              border-top-width: 0px !important;
              .ng-placeholder {
                -webkit-transform: none;
                transform: none;
              }
            }
          }
        }
      }

      .search-input {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;

        input {
          padding: 10px;
          width: 100%;
          min-height: 2em;
          border: none;

          &:focus {
            outline: none;
          }
        }

        button {
          background-color: $yellow-primary;
          color: white;
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
          border: none;
          min-height: 1em;
          padding: 10px 40px;
          display: flex;
          align-items: center;
          flex: 0 0 auto;
        }
      }

      h1 {
        font-size: 54px;
        font-weight: 700;
        line-height: 1.5em;
      }

      p {
        font-size: 16px;
        line-height: 1.5em;
      }
    }
  }
}
