@import "../../../../shared/utilities/variables.scss";

.mat-dialog-actions {
  margin-left: -24px;
  margin-right: -24px;
  padding: 7px 14px;
  background: #f3f3f3;
  border-top: 2px solid $blue-primary;
  display: flex;
  flex-flow: row;
  justify-content: space-between !important;
  align-items: center;
}

.mat-dialog-title {
  padding: 7px 14px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
  color: #fff;
  background: $blue-primary;
}

.width-100 {
  width: 100%;
}

.form-field {
  width: 100%;
  padding: 0px 5px;

  &.width-50 {
    width: 50%;
  }
}

.ng-select.custom {
  border:0px;
  min-height: auto;
  border-radius: 0;

  &.ng-select-multiple ::ng-deep .ng-select-container .ng-value{
    background-color: $blue-primary;
  }

  ::ng-deep .ng-select-container  {
    border-radius: 0;
    min-height: 50px;
  }
}
