:host {
  .container {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 120px;
    background-color: #f3f3f3;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    padding: 15px 20px;
    margin-bottom: 30px;
    border-radius: 15px;

    .header {
      display: flex;
      color: gray;
      justify-content: space-between;

      .industry {
        font-size: 18px;
        margin-bottom: 0px;
      }
    }

    .main h1 {
      font-weight: 500;
      margin-bottom: 10px;
    }

    .company-info {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      .icon {
        display: flex;
        align-items: center;
        font-size: 16px;

        &:not(:last-child){
          margin-right: 20px;
        }

        embed {
          width: 100%;
          max-width: 25px;
          max-height: 25px;
          margin-right: 10px;

          svg {
            fill: gray !important;
          }
        }
      }
    }
  }
}
