<div class="container">
  <div class="header">
    <p class="industry">{{company.industry}}</p>
  </div>
  <div class="main"><h1 class="title">{{company.name}}</h1></div>
  <div class="company-info">
    <span class="icon"><embed src="../../../../../assets/location.svg"/>{{company.location}}</span>
    <span class="icon"><embed src="../../../../../assets/employees.svg"/>{{company.noOfEmployees}}</span>
    <span class="icon"><embed src="../../../../../assets/jobs.svg"/>{{activeJobsNo}} open jobs</span>
  </div>
</div>
