@import "../../../../shared/utilities/variables.scss";

.mat-dialog-title {
  padding: 7px 14px;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px;
  color: #fff;
  background: $blue-primary;
}

.job-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;

  .header {
    text-align: center;
    margin-bottom: 10px;
    .company {
      color: gray;
      font-size: 18px;
      text-decoration: none;
      transition: 0.3s all;

      &:hover {
        color: $yellow-primary;
      }
    }
  }

  .main {
    margin-bottom: 20px;
    text-align: center;

    .title {
      font-size: 32px;
      text-decoration: none;
      color: black;
      font-weight: 500;
      transition: 0.3s all;

      &:hover {
        color: $yellow-primary;
      }
    }
  }
}
.job-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10px;

  .info-item {
    text-align: center;

    .info-title {
      font-weight: bold;
      font-size: 18px;
    }

    .info-description {
      font-size: 16px;
    }
  }
}
