

<div class="form-container">
  <h1>Company Profile</h1>
  <form *ngIf="companyForm" [formGroup]="companyForm" (submit)="onUpdate()">
    <!-- Name -->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required>
      <mat-error *ngIf="companyForm.controls.name.touched && companyForm.controls.name.invalid">
        <span *ngIf="companyForm.controls.name.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <!-- Name -->
    <!-- Description -->
    <mat-form-field class="form-field" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" formControlName="description" required></textarea>
      <mat-error *ngIf="companyForm.controls.description.touched && companyForm.controls.description.invalid">
        <span *ngIf="companyForm.controls.description.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <!-- Description -->
    <!-- Location -->
    <div class="form-field width-50">
      <ng-select
        [items]="locations"
        bindLabel="label"
        bindValue="value"
        [multiple]="false"
        placeholder="Select Location"
        clearAllText="Clear"
        formControlName="location">
      </ng-select>
    </div>
    <!-- Location -->
    <!-- No. of Employees -->
    <mat-form-field class="form-field width-50" appearance="outline">
      <mat-label>No. of Employees</mat-label>
      <input min="0" type="number" matInput placeholder="No. Of Employees" formControlName="noOfEmployees" required>
      <mat-error *ngIf="companyForm.controls.noOfEmployees.touched && companyForm.controls.noOfEmployees.invalid">
        <span *ngIf="companyForm.controls.noOfEmployees.errors.required">This field is required.</span>
      </mat-error>
    </mat-form-field>
    <!-- No. of Employees -->
    <!-- Industry -->
    <div class="form-field">
      <ng-select
        [items]="industriesArray"
        bindLabel="label"
        bindValue="value"
        [multiple]="false"
        placeholder="Select Industry"
        clearAllText="Clear"
        formControlName="industry">
      </ng-select>
    </div>
    <!-- Industry -->
    <div class="form-buttons">
      <button *ngIf='isEditable' mat-raised-button color="primary" type="submit">Save</button>
      <button *ngIf='isEditable' mat-raised-button color="warn" (click)='onCancel()'>Cancel</button>
      <button *ngIf='!isEditable' mat-raised-button color="primary" (click)='toggleEdit()'>Edit</button>
    </div>
  </form>
</div>
<app-progress-spinner [displayProgressSpinner]="isLoading"></app-progress-spinner>
