<h1>Company registration</h1>
<form (ngSubmit)="onSubmit()" [formGroup]="form">
  <mat-form-field class="form-field" appearance="legacy">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="legacy">
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email">
  </mat-form-field>
  <div class="form-field">
    <ng-select
      [items]="locations"
      bindLabel="label"
      bindValue="value"
      [multiple]="false"
      placeholder="Select Location"
      clearAllText="Clear"
      formControlName="location">
    </ng-select>
  </div>
  <mat-form-field class="form-field" appearance="legacy">
    <mat-label>Number Of Employees</mat-label>
    <input min="0" type="number" matInput formControlName="noOfEmployees">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="legacy">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="form.controls.description.touched && form.controls.description.hasError('maxlength')">
      The maximum number of characters is 250
    </mat-error>
  </mat-form-field>
  <!-- Industry -->
  <div class="form-field">
    <ng-select
      [items]="industries"
      bindLabel="label"
      bindValue="value"
      [loading]="isLoading"
      [multiple]="false"
      placeholder="Select Industry"
      clearAllText="Clear"
      formControlName="industry"
      addTagText="Add New"
      [addTag]="addIndustryTag">
    </ng-select>
  </div>
  <button type="submit" mat-raised-button color="primary">Submit</button>
</form>
