<mat-toolbar color="light">
  <span><img class="logo" src="../../../../assets/logo-black.svg" alt="jobsearch-logo-black"></span>
  <nav class="nav main">
    <ul>
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/jobs" routerLinkActive="active">Search Jobs</a></li>
      <li><a routerLink="/companies" routerLinkActive="active">Search Companies</a></li>
    </ul>
  </nav>
  <span class="example-spacer"></span>
    <nav class="nav secondary">
      <ul>
        <li><button mat-flat-button color="primary" routerLink="/login" routerLinkActive="active">Get Started</button></li>
      </ul>
    </nav>
</mat-toolbar>
