@import "../../../../shared/utilities/variables.scss";

:host {
  .container {
    width: 100%;

    .inactive, .expired {
      font-weight: bold;
    }

    .expired {
      color: #687980;
    }

    .inactive {
      color: #f05945;
    }

    .actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      h1 {
        margin-bottom: 0px;
      }
    }

    .jobs {
      table {
        width: 100%;

        th {
          background-color: $blue-primary;
          font-size: 14px;
          color: white;
        }
      }
    }
  }
}
